body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background: url('back.jpeg') no-repeat center center/cover;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
  }
  .container {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
  }
  h2 {
    text-align: center;
  }
  .input-field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  .input-field input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  .button:hover {
    background-color: #45a049;
  }
  .switch {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
  #toDoList {
    display: none;
  }
  #toDoList ul {
    padding: 0;
    list-style-type: none;
  }
  #toDoList li {
    display: flex;
    justify-content: space-between;
    background: #eee;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
  }
  .remove-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
  }